<mat-card *ngIf="this.customerFormGroup">
  <mat-card-title-group>
    <mat-card-title *ngIf="this.action === 'create'">{{'CUSTOMERS.ADD_CUSTOMER' | translate}}</mat-card-title>
    <mat-card-title *ngIf="this.action === 'edit'">{{'CUSTOMERS.EDIT_CUSTOMER' | translate}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab [label]="'SHARED.GENERAL' | translate">
        <br>
        <app-customer-general
          [customer]="this.customerDTO"
          [customerFormGroup]="this.customerFormGroup"
          [usersWithAccess]="this.usersWithAccess"
        ></app-customer-general>
      </mat-tab>
      <mat-tab [label]="'CUSTOMERS.BRANDING' | translate" *ngIf="this.action === 'edit'">
        <br>
        <app-customer-branding
          [customer]="this.customerDTO"
          [customerBrandingFormGroup]="this.customerBrandingFormGroup"
          [logo]="this.logo"
        ></app-customer-branding>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="this.showCustomerDeletionDialog()" *ngIf="this.action === 'edit'" color="warn">
      <mat-icon>delete</mat-icon>
      {{'SHARED.DELETE' | translate}}
    </button>
    <button mat-stroked-button *ngIf="this.action === 'create'" (click)="this.save()"
            [disabled]="this.customerFormGroup.invalid">
      <mat-icon>save</mat-icon>
      {{'SHARED.SAVE' | translate}}
    </button>
    <button mat-stroked-button *ngIf="this.action === 'edit'" (click)="this.save()"
            [disabled]="this.customerFormGroup.invalid || this.customerBrandingFormGroup.invalid">
      <mat-icon>save</mat-icon>
      {{'SHARED.SAVE' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
