<div class="full-width-and-height-absolute display-flex-align-center" *ngIf="this.documentGroup && this.documentGroup.documents">
  <div class="documents-container">
    <div class="align-center margin-bottom-after-title">
      <h1>{{ this.documentGroup.name }}</h1>
    </div>

    <div class="documents-table-container margin-bottom-after-title">
      <table mat-table [dataSource]="this.documentGroup.documents">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Funktion</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="bookmarked">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" style="text-align: right">
            <mat-icon *ngIf="this.isDocumentBookmarked(element.id)">bookmark</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="this.displayedColumnsDocuments"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumnsDocuments;"
            (click)="this.openDocument(row)"></tr>
      </table>
    </div>
    <div class="align-center full-width">
      <button mat-stroked-button (click)="this.goBack()">
        <mat-icon>navigate_before</mat-icon>
        {{'SHARED.BACK' | translate}}
      </button>
    </div>
  </div>
</div>

