<div class="display-flex-space-between">
  <div>
    <h1>{{'CHECKS.CHECKS' | translate}}</h1>
  </div>
  <div>
    <button mat-stroked-button (click)="this.reload()">
      <mat-icon>refresh</mat-icon>
      {{'SHARED.RELOAD' | translate}}
    </button>
  </div>
</div>

<table mat-table [dataSource]="this.checks" class="full-width">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      {{'CHECKS.TITLE' | translate}}
    </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="activeFrom">
    <th mat-header-cell *matHeaderCellDef>
      {{'CHECKS.ACTIVE_FROM' | translate}}
    </th>
    <td mat-cell *matCellDef="let element">{{element.activeFrom}}</td>
  </ng-container>
  <ng-container matColumnDef="activeTo">
    <th mat-header-cell *matHeaderCellDef>
      {{'CHECKS.ACTIVE_TO' | translate}}
    </th>
    <td mat-cell *matCellDef="let element">{{element.activeTo}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: right">
      {{'SHARED.ACTIONS' | translate}}
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: right">
      <button mat-icon-button [routerLink]="[element.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="this.deleteCheckById(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.displayedColumnsChecks"></tr>
  <tr mat-row *matRowDef="let row; columns: this.displayedColumnsChecks;"></tr>
</table>

