<div class="full-width-and-height-absolute display-flex-align-center" *ngIf="this.checkDTO">
  <div class="check-container">
    <div class="check-content">
      <div *ngFor="let questionCategory of this.checkDTO?.questionCategories"
           [style.width]="this.getWidthOfQuestionCategory()"
           class="question-category-container"
           (click)="this.selectQuestionCategory(questionCategory)"
           matRipple
      >
        <img [src]="this.getQuestionCategoryThumbnailById(questionCategory.id)" alt="Question-Cateogry"
             class="full-width" style="margin-bottom: 15px"/>

        <span class="subtitle">{{questionCategory.title}}</span>
      </div>

    </div>
  </div>
</div>
