<div class="full-width-and-height-absolute display-flex-align-center" *ngIf="this.checkDTO">
  <div class="check-container">
    <mat-form-field>
      <mat-label>{{'SHARED.LANGUAGE' | translate}}</mat-label>
      <mat-select (selectionChange)="this.changeLanguage($event.value)">
        <mat-option *ngFor="let language of this.checkDTO.requiredLanguages" [value]="language.locale">
          {{'CHECKS.' + language.language | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="align-center">
      <h1>{{this.checkDTO?.title}}</h1>
      <br>
      <h2>Klicke auf Start, um mit dem Check loszulegen</h2>
    </div>

    <div class="check-content">
      <div class="align-center full-width">
        <button mat-stroked-button (click)="this.nextStep()">
          <mat-icon>play_arrow</mat-icon>
          {{'SHARED.START' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
