<div class="full-width-and-height-absolute display-flex-align-center" *ngIf="this.checkDTO">
  <div class="check-container">
    <div class="align-center">
      <h1>{{this.checkDTO?.title}}</h1>
      <br>
      <h2>Klicke auf Start, um mit dem Check loszulegen</h2>
    </div>

    <div class="check-content">
      <div class="align-center full-width">
        <button mat-stroked-button (click)="this.nextStep()">
          <mat-icon>play_arrow</mat-icon>
          {{'SHARED.START' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>
