.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
  height: 24px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.checkbox {
  margin: 5px;
  height: 24px;
}

.spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-radio-label-content {
  display: flex !important;
  align-items: center;
}

.mat-checkbox-label {
  display: flex !important;
  align-items: center;
}

.icon {
  margin-left: 10px;
}

.icon .correct {
  color: greenyellow;
}

.icon .wrong {
  color: red;
}
