@import "src/iact-check-theme";

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
  height: 24px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.checkbox {
  margin: 5px;
  height: 24px;
}

.spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-radio-label-content {
  display: flex !important;
  align-items: center;
}

.mat-checkbox-label {
  display: flex !important;
  align-items: center;
}

.icon {
  margin-left: 10px;
}

.icon .correct {
  color: greenyellow;
}

.icon .wrong {
  color: red;
}


//.mat-step-header .mat-step-icon-selected,
//.mat-step-header .mat-step-icon-state-edit {
//  background-color: var(--theme-primary-A200) !important;
//}


.mat-step-header .mat-step-icon-state-done {
  background-color: transparent !important;
  color: green;
  +.mat-step-label{
    color: #35A255 !important;
  }
}

.mat-step-header .mat-step-icon-state-error {
  background-color: transparent !important;
  color: red;
  +.mat-step-label{
    color: red !important;
  }
}

.mat-step-header .mat-step-icon-state-edit {
  color: white;
  +.mat-step-label{
    color: white !important;
  }
}

//.mat-step-header .mat-step-icon-correct {
//  background-color: green !important;
//}
//.mat-step-header .mat-step-icon-incorrect {
//  background-color: green !important;
//}


