<mat-stepper linear="false" orientation="horizontal"
             *ngIf="this.flashCardQuestions && this.flashCardQuestionAnswers && this.answerRevealedMap" #stepper>
  <mat-step state="introduction" completed="false">
    <ng-template matStepLabel>Einführung</ng-template>

    <div class="spacing">
      <div *ngIf="!this.isLastRoundFinished()">
        <h2>
          Willkommen bei den Karteikarten!
        </h2>
        <br />
        <p>
          Es wurden für dich 5 zufällige Fragen ausgewählt, die dich über die nächsten Stunden begleiten werden.
          Schau dir die Fragen an und immer wenn du das Gefühl hast, die Antwort zu wissen, kannst du sie beantworten.
        </p>
        <br />
        <p>
          Du musst die Fragen übrigens nicht nacheinander lösen, du kannst auch einfach zwischen den Fragen springen,
          indem du auf eine der 5 Fragen klickst oder zurück ins Hauptmenü gehen.
        </p>
      </div>
      <div *ngIf="this.isLastRoundFinished()" class="align-center">
        <h1 style="font-weight: normal">
          Du hast
        </h1>
        <br>
        <h1 style="font-size: 3em">{{ this.getNumberOfCorrectlyAnsweredQuestions() }} <span
          class="normal"> von </span> {{ this.getNumberOfQuestions() }}</h1>
        <br>

        <h1 style="font-weight: normal">
          Punkten erreicht.
        </h1>
      </div>
    </div>
    <div class="display-flex-space-between">
      <div>
        <button mat-stroked-button matStepperNext style="margin-right: 8px" *ngIf="!this.isLastRoundFinished()">
          Los geht's!
        </button>

        <button mat-stroked-button mat-dialog-close="false">
          <mat-icon>home</mat-icon>
          Hauptmenü
        </button>
      </div>
    </div>

  </mat-step>
  <mat-step *ngFor="let flashCardQuestion of this.flashCardQuestions; let i = index"
            [state]="this.getFlashCardQuestionAnswerState(flashCardQuestion)"
            [hasError]="this.getFlashCardQuestionAnswerState(flashCardQuestion) === 'error'"
            [completed]="this.getFlashCardQuestionAnswerState(flashCardQuestion) === 'unanswered'">
    <div class="spacing">
      <ng-template matStepLabel>Frage {{i + 1}}</ng-template>
      <p>{{flashCardQuestion.question}} {{flashCardQuestion.allowMultipleAnswers ? '(Mehrfachauswahl möglich)' : ''}}</p>

      <mat-radio-group class="radio-group" *ngIf="!flashCardQuestion.allowMultipleAnswers"
                       (change)="this.changeFlashCardQuestionAnswer(flashCardQuestion.id, $event.value, false)"
                       [value]="this.getSingleFlashCardQuestionAnswer(flashCardQuestion.id)">
        <mat-radio-button class="radio-button" *ngFor="let flashCardAnswer of flashCardQuestion.answers"
                          [disabled]="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id)"
                          [value]="flashCardAnswer.id">
          {{flashCardAnswer.answer}}

          <mat-icon
            *ngIf="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id) && this.isAnswerCorrect(flashCardQuestion, flashCardAnswer.id)"
            class="icon correct">
            check
          </mat-icon>
          <mat-icon
            *ngIf="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id) && !this.isAnswerCorrect(flashCardQuestion, flashCardAnswer.id)"
            class="icon wrong">
            close
          </mat-icon>
        </mat-radio-button>

      </mat-radio-group>

      <div *ngIf="flashCardQuestion.allowMultipleAnswers" class="checkbox-container">
        <mat-checkbox class="checkbox" *ngFor="let flashCardAnswer of flashCardQuestion.answers"
                      [disabled]="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id)"
                      (change)="this.changeFlashCardQuestionAnswer(flashCardQuestion.id, flashCardAnswer.id, true)"
                      [checked]="this.isAnswerInFlashCardQuestionAnswers(flashCardQuestion.id, flashCardAnswer.id)">
          {{flashCardAnswer.answer}}
          <mat-icon
            *ngIf="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id) && this.isAnswerCorrect(flashCardQuestion, flashCardAnswer.id)"
            class="icon correct">
            check
          </mat-icon>
          <mat-icon
            *ngIf="this.isRevealedIfAnswersAreCorrect(flashCardQuestion.id) && !this.isAnswerCorrect(flashCardQuestion, flashCardAnswer.id)"
            class="icon wrong">
            close
          </mat-icon>
        </mat-checkbox>
      </div>
    </div>
    <div class="display-flex-space-between">
      <div>
        <button mat-stroked-button matStepperPrevious style="margin-right: 8px">
          <mat-icon>arrow_back_ios</mat-icon>
          Zurück
        </button>
        <button mat-stroked-button style="margin-right: 8px" (click)="this.revealIfAnswersAreCorrect(flashCardQuestion)"
                [disabled]="this.isSubmitAnswerButtonDisabled(flashCardQuestion)">
          Antwort prüfen
        </button>
        <button mat-stroked-button matStepperNext
                [disabled]="this.stepper.steps.length - 1 === this.stepper.selectedIndex">
          Weiter
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div>
        <button mat-stroked-button (click)="this.loadNewQuestions()"
                *ngIf="this.canNewQuestionsBeLoaded()" style="margin-right: 8px">Neue
          Fragen laden
        </button>
        <button mat-stroked-button (click)="this.stepper.selectedIndex = 0" *ngIf="this.isLastRoundFinished()"
                style="margin-right: 8px">
          Zur Auswertung
        </button>
        <button mat-stroked-button mat-dialog-close="false">
          <mat-icon>home</mat-icon>
          Zurück zum Hauptmenü
        </button>
      </div>
    </div>
  </mat-step>

  <ng-template matStepperIcon="edit">
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon style="font-size: 24px; width: 24px; height: 24px; font-weight: bold; color: green;">done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="error">
    <mat-icon>close</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="introduction">
    <mat-icon>info</mat-icon>
  </ng-template>

</mat-stepper>
