<div class="display-flex-space-between margin-bottom-after-title">
  <div>
    <mat-card-title>Dokumente</mat-card-title>
  </div>
  <div>
    <button mat-stroked-button [routerLink]="['..', 'documents', '-1', 'create']">
      <mat-icon>create</mat-icon>
      Dokumente erstellen
    </button>
  </div>
</div>
<table mat-table *ngIf="this.documentGroup" [dataSource]="this.documentGroup.documents" class="full-width" #documentsTable>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      Titel
    </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="mediaType">
    <th mat-header-cell *matHeaderCellDef>
      Datei-Typ
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.mediaType}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: right">
      {{'SHARED.ACTIONS' | translate}}
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: right">
      <button mat-icon-button [routerLink]="['..', 'documents', element.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="this.deleteDocument(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.displayedColumnsDocuments"></tr>
  <tr mat-row *matRowDef="let row; columns: this.displayedColumnsDocuments"></tr>
</table>
