<mat-card>
  <div class="display-flex-space-between margin-bottom-after-title">
    <div>
      <mat-card-title>{{'CHECKS.CHECKS' | translate}}</mat-card-title>
    </div>
    <div>
      <button mat-stroked-button (click)="this.reload()">
        <mat-icon>refresh</mat-icon>
        {{'SHARED.RELOAD' | translate}}
      </button>
    </div>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="this.checks" class="full-width">
      <ng-container matColumnDef="id">
        <th id="id" mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th id="title" mat-header-cell *matHeaderCellDef>
          {{'CHECKS.TITLE' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.title[element.defaultLanguage.locale]}} </td>
      </ng-container>
      <ng-container matColumnDef="requiredLanguages">
        <th id="language" mat-header-cell *matHeaderCellDef>
          {{'CHECKS.LANGUAGE' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let language of element.requiredLanguages">
              {{'CHECKS.' + language.language | translate}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="activeFrom">
        <th id="active-from" mat-header-cell *matHeaderCellDef>
          {{'CHECKS.ACTIVE_FROM' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.activeFrom}}</td>
      </ng-container>
      <ng-container matColumnDef="activeTo">
        <th id="active-to" mat-header-cell *matHeaderCellDef>
          {{'CHECKS.ACTIVE_TO' | translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.activeTo}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th id="actions" mat-header-cell *matHeaderCellDef style="text-align: right">
          {{'SHARED.ACTIONS' | translate}}
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          <button mat-icon-button [routerLink]="[element.id, 'edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="this.showCheckDeletionDialog(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="this.displayedColumnsChecks"></tr>
      <tr mat-row *matRowDef="let row; columns: this.displayedColumnsChecks;"></tr>
    </table>
  </mat-card-content>
</mat-card>


