<mat-toolbar style="height: 56px">
  <img src="assets/img/iact-logo.png" style="height: 45px" alt="iact-logo"/>
  <span class="spacer"></span>
  <span class="welcome-user" *ngIf="this.username">{{'HEADER.WELCOME' | translate }}<span class="username"
                                                                                          (click)="this.openAccountInKeycloak()">{{this.username}}</span></span>
  <button mat-stroked-button (click)="this.logout()">
    <mat-icon>logout</mat-icon>
    {{'HEADER.LOGOUT' | translate}}
  </button>
</mat-toolbar>
