<div *ngIf="this.questionCategoryFromGroup">
  <div class="display-flex-space-between margin-bottom-after-title">
    <div>
      <h1 *ngIf="this.action === 'create'">{{'QUESTION_CATEGORIES.ADD_QUESTION_CATEGORY' | translate}}</h1>
      <h1 *ngIf="this.action === 'edit'">{{'QUESTION_CATEGORIES.EDIT_QUESTION_CATEGORY' | translate}}</h1>
    </div>
    <div>
      <button mat-stroked-button (click)="this.goBackToCheck()"
              style="margin-right: 10px;">
        <mat-icon>arrow_back</mat-icon>
        {{'QUESTION_CATEGORIES.BACK_TO_CHECK' | translate}}
      </button>
      <button mat-stroked-button *ngIf="this.action === 'edit'" (click)="this.showQuestionCategoryDeletionDialog()"
              style="margin-right: 10px;">
        <mat-icon>delete</mat-icon>
        {{'SHARED.DELETE' | translate}}
      </button>
      <button mat-stroked-button (click)="this.save()"
              [disabled]="this.questionCategoryFromGroup.invalid">
        <mat-icon>save</mat-icon>
        {{'SHARED.SAVE' | translate}}
      </button>
    </div>
  </div>

  <form [formGroup]="this.questionCategoryFromGroup">
    <mat-form-field appearance="outline" class="half-width">
      <mat-label>{{'QUESTION_CATEGORIES.TITLE' | translate}}</mat-label>
      <mat-error>
        {{'QUESTION_CATEGORIES.ERRORS.MISSING_TITLE' | translate}}
      </mat-error>
      <label>
        <input matInput [placeholder]="'QUESTION_CATEGORIES.PLACEHOLDER.TITLE' | translate" formControlName="title"
               required/>
      </label>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline" class="half-width">
      <mat-label>{{'QUESTION_CATEGORIES.THUMBNAIL' | translate}}</mat-label>
      <mat-error>
        {{'QUESTION_CATEGORIES.ERRORS.MISSING_THUMBNAIL' | translate}}
      </mat-error>
      <ngx-mat-file-input color="accent" formControlName="thumbnail" accept="image/*" [required]="true">
      </ngx-mat-file-input>
      <mat-hint>{{'QUESTION_CATEGORIES.THUMBNAIL_HINT' | translate}}</mat-hint>
      <button mat-icon-button matSuffix (click)="this.showThumbnail()" *ngIf="this.thumbnail">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <br/>
  <mat-divider *ngIf="this.questionCategoryDTO"></mat-divider>
  <br/>
  <app-question-list *ngIf="this.questionCategoryDTO" [questionCategory]="this.questionCategoryDTO"></app-question-list>
</div>
