@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow: auto;

}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

h2.subtitle {
  margin-bottom: 12px;
  font-weight: normal;
}

.full-width-and-height {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.third-width {
  width: 33%;
}

.two-third-width {
  width: 67%;
}

.half-width {
  width: 50%;
}

.display-flex-row-gap {
  display: flex;
  row-gap: 8px;
}

.display-flex-column-gap {
  display: flex;
  column-gap: 8px;
}

.quarter-width-with-gap {
  width: calc(25% - 8px);
}

.gap {
  gap: 8px;
}

span.color-preview-dot {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.display-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.display-flex-justify-content-right {
  display: flex;
  justify-content: right;
  align-content: center;
  align-items: center;
}

.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


.margin-bottom-after-title {
  margin-bottom: 20px;
}

div.full-width-and-height-absolute {
  width: 100vw;
  height: 100vh;
}

div.display-flex-align-center {
  display: flex;
  align-content: center;
  align-items: center
}

div.check-container {
  margin: 0 auto;
  width: 50%;
}

div.check-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 45px auto 0;
}

.align-center {
  text-align: center;
}

div.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invisible{
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.slide-toggle-spacing {
  margin: 4px;
}

.subtitle {
  font-size: 1.25em;
}
