<div class="full-width-and-height-absolute display-flex-align-center">
  <div class="document-group-container">
    <div class="align-center margin-bottom-after-title">
      <h1>{{ this.title }}</h1>
      <p>
        {{ this.subtitle }}
      </p>
    </div>
    <div *ngIf="this.displayType === 'tiles'">
      <div class="grid-3-cols margin-bottom-after-title">
        <div class="document-group" *ngFor="let documentGroup of this.documentGroups"
             [style.background-color]="documentGroup.backgroundColour ? documentGroup.backgroundColour : 'var(--theme-primary-A200)'"
             (click)="this.goToDocumentOverview(documentGroup.id)">
          <div class="label">
            <h3>{{documentGroup.name}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.displayType === 'table'" class="document-group-table-container">
      <table mat-table [dataSource]="this.documentGroups">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Titel</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumnsDocumentGroups"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumnsDocumentGroups;"
            (click)="this.goToDocumentOverview(row.id)"></tr>
      </table>
    </div>
    <div class="align-center full-width">
      <button mat-stroked-button (click)="this.goBack()">
        <mat-icon>navigate_before</mat-icon>
        {{'SHARED.BACK' | translate}}
      </button>
    </div>
  </div>
</div>

