@import "src/iact-check-theme";

div.document-group {
  width: 150px;
  height: 150px;
  background-color: var(--theme-primary-A200);
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

div.document-group .label {
  width: 100%;
  text-align: center;
  color: black;
}

div.document-group-container {
  margin: 0 auto;
  width: 75%;
}

table {
  width: 100%;
  cursor: pointer;
}

.mat-row:hover {
  background-color: var(--theme-primary-700);
}

.dark-theme .mat-table {
  background-color: var(--theme-primary-600);
}

.light-theme .mat-table {
  background-color: var(--theme-primary-600);
}

.document-group-table-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
