<mat-card *ngIf="this.checkFormGroup">
  <div class="display-flex-space-between margin-bottom-after-title">
    <div>
      <mat-card-title *ngIf="this.action === 'create'">{{'CHECKS.ADD_CHECK' | translate}}</mat-card-title>
      <mat-card-title *ngIf="this.action === 'edit'">{{'CHECKS.EDIT_CHECK' | translate}}</mat-card-title>
    </div>
    <div>
      <button mat-stroked-button *ngIf="this.action === 'edit'" (click)="this.showCheckDeletionDialog()"
              style="margin-right: 10px;">
        <mat-icon>delete</mat-icon>
        {{'SHARED.DELETE' | translate}}
      </button>
      <button mat-stroked-button (click)="this.save()"
              [disabled]="this.checkFormGroup.invalid || this.titleTranslationsFormArray.invalid">
        <mat-icon>save</mat-icon>
        {{'SHARED.SAVE' | translate}}
      </button>
    </div>
  </div>
  <mat-card-content>
    <form [formGroup]="this.checkFormGroup">
      <h2 class="subtitle">{{'CHECKS.TITLE' | translate}}</h2>

      <div class="display-flex-space-between two-third-width" style="flex-wrap:  wrap">
        <ng-container
          *ngFor="let titleTranslationsFormGroup of this.titleTranslationsFormArray.controls; let i = index">
          <div [formGroup]="$any(titleTranslationsFormGroup)" style="width: 49%">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{'CHECKS.TITLE' | translate}}
                ({{'CHECKS.' + titleTranslationsFormGroup.value.language.language | translate}})
              </mat-label>
              <mat-error>
                {{'CHECKS.ERRORS.MISSING_TITLE' | translate}}
              </mat-error>
              <label>
                <input matInput [placeholder]="'CHECKS.PLACEHOLDER.TITLE' | translate" formControlName="translation"
                       required/>
              </label>
            </mat-form-field>
          </div>
        </ng-container>
      </div>

      <br>
      <h2 class="subtitle">{{'CHECKS.SUBTITLE' | translate}}</h2>

      <div class="half-width">
        <ng-container
          *ngFor="let subtitleTranslationsFormGroup of this.subtitleTranslationsFormArray.controls; let i = index">
          <div [formGroup]="$any(subtitleTranslationsFormGroup)" class="full-width">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{'CHECKS.SUBTITLE' | translate}}
                ({{'CHECKS.' + subtitleTranslationsFormGroup.value.language.language | translate}})
              </mat-label>
              <mat-error>
                {{'CHECKS.ERRORS.MISSING_SUBTITLE' | translate}}
              </mat-error>
              <label>
                <input matInput [placeholder]="'CHECKS.PLACEHOLDER.SUBTITLE' | translate" formControlName="translation"
                       required/>
              </label>
            </mat-form-field>
          </div>
        </ng-container>
      </div>

      <br>
      <h2 class="subtitle">{{'CHECKS.GENERAL' | translate}}</h2>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{'CHECKS.LANGUAGE' | translate}}</mat-label>
        <mat-error>
          {{'CHECKS.ERRORS.MISSING_LANGUAGE' | translate}}
        </mat-error>
        <mat-select formControlName="requiredLanguages" multiple [compareWith]="this.compare"
                    (selectionChange)="this.onRequiredLanguagesChange($event.value)">
          <mat-option *ngFor="let availableLanguage of this.availableLanguages" [value]="availableLanguage">
            {{'CHECKS.' + availableLanguage.language | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{'CHECKS.DEFAULT_LANGUAGE' | translate}}</mat-label>
        <mat-error>
          {{'CHECKS.ERRORS.MISSING_DEFAULT_LANGUAGE' | translate}}
        </mat-error>
        <mat-select formControlName="defaultLanguage">
          <mat-option *ngFor="let language of this.checkFormGroup.get('requiredLanguages')?.value"
                      [value]="language.locale">
            {{'CHECKS.' + language.language | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{'CHECKS.ACTIVE_FROM' | translate}}</mat-label>
        <mat-error>
          {{'CHECKS.ERRORS.MISSING_OR_INVALID_ACTIVE_FROM' | translate}}
        </mat-error>
        <label>
          <input matInput [ngxMatDatetimePicker]="pickerActiveFrom"
                 [placeholder]="'CHECKS.PLACEHOLDER.ACTIVE_FROM' | translate"
                 formControlName="activeFrom" required/>
        </label>
        <mat-datepicker-toggle matSuffix [for]="$any(pickerActiveFrom)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerActiveFrom [showSeconds]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>{{'CHECKS.ACTIVE_TO' | translate}}</mat-label>
        <mat-error>
          {{'CHECKS.ERRORS.MISSING_OR_INVALID_ACTIVE_TO' | translate}}
        </mat-error>
        <label>
          <input matInput [ngxMatDatetimePicker]="pickerActiveTo"
                 [placeholder]="'CHECKS.PLACEHOLDER.ACTIVE_TO' | translate"
                 formControlName="activeTo" required/>
        </label>
        <mat-datepicker-toggle matSuffix [for]="$any(pickerActiveTo)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerActiveTo [showSeconds]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<br/>

<mat-card *ngIf="this.action === 'edit'">
  <mat-card-content>
    <app-question-category-list [check]="this.checkDTO"></app-question-category-list>
  </mat-card-content>
</mat-card>
<br/>

<mat-card *ngIf="this.action === 'edit'">
  <mat-card-content>
    <app-flash-card-question-list></app-flash-card-question-list>
  </mat-card-content>
</mat-card>
