<div class="full-width-and-height-absolute display-flex-align-center" *ngIf="this.submission">
  <div class="marketplace-container">
    <div class="align-center margin-bottom-after-title">
      <h1 class="margin-bottom-after-title">
        {{ this.getTextWithReplacedPlaceholders(this.check.marketplaceConfig?.greetingText) }}
      </h1>
      <p class="subtitle" style="white-space: pre-wrap;">
        {{ this.getTextWithReplacedPlaceholders(this.check.marketplaceConfig?.marketplaceTitle) }}
      </p>
      <br>
      <p style="white-space: pre-wrap;">
        {{ this.getTextWithReplacedPlaceholders(this.check.marketplaceConfig?.marketplaceSubtitle) }}
      </p>
    </div>

    <div class="display-flex-space-between" style="margin-bottom: 25px">
      <div class="action-container" (click)="this.goToQuiz()">
        <div class="icon">
          <mat-icon>
            quiz
          </mat-icon>
        </div>
        <div class="label">
          <h3>Quiz</h3>
        </div>
      </div>
      <div class="action-container" (click)="this.openFlashCardsComponent()">
        <div class="icon">
          <mat-icon>
            question_answer
          </mat-icon>
        </div>
        <div class="label">
          <h3>Karteikarten</h3>
        </div>
      </div>
      <div class="action-container"
           *ngFor="let marketplaceTileConfig of this.check.marketplaceConfig?.marketplaceTileConfigs"
           (click)="this.goToDocumentViewer(marketplaceTileConfig)">
        <div class="icon">
          <mat-icon>
            {{ marketplaceTileConfig.tileIcon }}
          </mat-icon>
        </div>
        <div class="label">
          <h3>{{ marketplaceTileConfig.tileTitle }}</h3>
        </div>
      </div>
    </div>

    <div class="shopping-cart-container" *ngIf="this.submission.email || this.submission.phoneNumber">
      <div class="shopping-cart">
        <mat-icon>shopping_cart</mat-icon>
        <p>{{ this.submission?.bookmarkedDocuments?.length }} Dokumente gemerkt</p>
      </div>
      <div class="full-width align-center">
        <button mat-raised-button color="primary" (click)="this.requestDocuments()"
                [disabled]="this.submission?.bookmarkedDocuments?.length === 0">
          <mat-icon>send</mat-icon>
          Dokumente senden
        </button>
      </div>
    </div>

    <div *ngIf="!this.submission.email && !this.submission.phoneNumber" class="full-width align-center">
      <button mat-raised-button color="primary" (click)="this.goToFinalSlide()">
        <mat-icon>check_outline</mat-icon>
        Abschliessen
      </button>

    </div>
  </div>
</div>
