<div style="width: 100%; height: 100%; overscroll-behavior-y: none; position: fixed;"
     *ngIf="this.customerDTO"
     [style.background-color]="this.customerDTO?.customerBranding?.backgroundColour"
     [style.color]="this.customerDTO?.customerBranding?.textColour"
     [style.font-family]="this.customerDTO?.customerBranding?.font"
     class="background"
>
  <div class="logo-wrapper" id="logo-wrapper">
    <img class="logo" [src]="this.getCustomerLogoUrl()" alt="Customer-Logo"/>
  </div>
  <router-outlet></router-outlet>
</div>

